@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0; font-family: Roboto, Montserrat, sans-serif;
  --mat-select-panel-background-color: #1e1e1e;
  --mat-option-selected-state-layer-color: rgba(0, 0, 0, 0.5);
  --mat-option-label-text-color: #ffffff;
  --mat-option-selected-state-label-text-color: #ffffff;
  --mat-option-hover-state-layer-color: #4d4d4d;
}
